body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f9fafc;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container {
  max-width: 400px; 
  margin: 100px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

input[type="text"],
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #5cb85c;
}

button {
  padding: 12px;
  background-color: #5cb85c;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4cae4c;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

p {
  text-align: center;
  font-size: 18px;
}

.card {
  padding: 20px;
  margin: 20px 0;
  background: #fdfdfd;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card a {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.deleted {
  color: red;
}

.form-group {
  display: flex;
  justify-content:space-between;
}